/* reset */
* {
    margin: 0;
    padding: 0;
}




/* render html5 elements as block */
header, footer, section, aside, nav, article {
    display: block;
}

body {
    line-height: 1;
    background: #F4F9FD;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#C3DEF5), to(#F4F9FD));
    background: -moz-linear-gradient(top, #C3DEF5 0%, #F4F9FD 100%);
    font-family: Verdana, Arial, Helvetica, '繝偵Λ繧ョ繝手ァ偵ざ Pro W3','Hiragino Kaku Gothic Pro','繝。繧、繝ェ繧ェ',Meiryo,'�ュ�ウ �ー繧エ繧キ繝�け',sans-serif;
    color: #333;
    font-size: 14px;
    line-height: 18px;
}




/* layout */
#wrapper {
    width: 940px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 3px solid #888;
    background: #fff;
/* curved border radius */
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

nav {
    width: 940px;
    height: 50px;
    margin: 0 auto;
    background: #333;
}

#main {
    width: 940px;
    margin: 0 auto;
    padding-top: 30px;
    background: #FFF url(images/colbg.png) repeat-y;
    overflow: hidden;
}

#content {
    float: left;
    width: 620px; 
    margin: 0 0 10px 0; 
    padding: 10px 20px 5px 20px;
}

#sidebar {
    float: right;
    padding: 10px 0 0 20px;
    width: 220px;
}

footer {
    width: 940px;
    margin: 0 auto;
    clear: both;
}




/* basics */
h1,h2,h3,h4,h5,h6 {
    font-weight: bold;
    clear: both;
    color: #333;
}

#content h1, h2, h3, h4, h5, h6 {
    color: #333;
    margin: 0 0 20px 0;
    line-height: 1.5em;
}

a:link, a:visited {
    color:#004C9A;
}

a:hover, a:active {
    color: #333;
}

p {
    margin-bottom: 18px;
}

hr {
    height: 2px;
    color: #eee;
    background-color: #eee;
    margin: 10px 0
}

li {
    padding-left: 5px;
}




/* header blocks */
header {
    padding: 20px 0 0 0;
}

header > h1 {
    float: left;
    margin: 0 0 18px 10px;
    width: 600px;
    font-size: 40px;
    line-height: 36px;
}

header > h1 a:link, header > h1 a:visited {
    color: #333;
    font-weight: bold;
    text-decoration: none;
    text-shadow: 0px 2px 3px #555;
}

.html5logoimage {
    width: 30px;
    height: 30px;
}

header > h2 {
    color: #777;
    clear: right;
    float: right;
    font-style: italic;
    font-size: 14px;
    margin: 14px 10px 18px 0;
}




/* nav blocks */
nav {
    margin: 0 auto;
    display: block;
    float: left;
}

nav .menu {
    font-size: 16px;
    font-weight: bold;
    margin-left: 12px;
}

nav .menu ul {
    list-style: none;
    margin: 0;
}

nav .menu li {
    float: left;
    position: relative;
}

nav .menu a {
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 0 30px;
    line-height: 50px;
}

nav .menu:hover a {
    text-shadow: 0 0 10px #fff;
}

nav .menu ul li a {
    display: block;
    text-decoration: none;
    color: transparent;
    text-shadow: 0 0 0 #fff;
    -webkit-transition: text-shadow, 0.3s ease-in-out;
    -moz-transition: text-shadow, 0.3s ease-in-out;
    -o-transition: text-shadow, 0.3s ease-in-out;
    transition: text-shadow, 0.3s ease-in-out;
    background: #333;
    margin-left: 1px;
    white-space: nowrap;
}

nav .menu ul li a:hover {
    text-shadow: 0 0 0 #fff;
}




/* article */
article {
    float: left;
    padding: 20px 10px 10px 10px;
    width: 620px;
}

.featured, .itemDetailInfos, .inCart {
    width: 620px;
    float: left;
    margin-bottom: 10px;
    background: #eee;
    /* curved border radius */
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

article .featuredthumb {
    float: left;
    width: 200px;
    height: 200px;
    /* curved border radius */
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

article .itemDetailInfosthumb {
    float: left;
    width: 450px;
    height: 450px;
    /* curved border radius */
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

article .featuredtitle {
    float: right;
    width: 400px;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.3em;
    text-decoration: none;
}

article .itemDetailInfosTiTle, .cartTitle {
    width: 400px;
    font-size: 30px;
    font-weight: bold;
    line-height: 1.3em;
    text-decoration: none;
    text-shadow: 0px 2.5px 2px #09d;
}

article .itemDetailInfosItemName {
    width: 400px;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.3em;
    text-decoration: none;
    text-shadow: 0px 2px 1.5px #09d;
}

.cartList {
    width: 600px;
    font-size: 15px;
    font-weight: bold;
    line-height: 1.3em;
    text-decoration: none;
}

article .featuredstory {
    float: right;
    width: 400px;
}

#gallery {
    list-style:none;
}

#gallery li {
    dislaray: inline;
    float: left;
}

.image-wrap {
    width:170;
    height:210px;
    position:relative;
    margin-right:20px;
    margin-bottom:20px;
    padding:0;
    overflow:hidden;
    _zoom:1;
}
.image-wrap a > img {
    margin-top:30px;
}

.image-wrap .hover { 
    color:#fff; 
    position:absolute;
    left:-999em;
    background-image:url(images/hover.png);
}

.image-wrap .hover a {
    color:#fff;
    text-decoration:none;
    font-size:12px;
}

.image-wrap .hover a:hover {
    color:#FC6A96;
}

.image-wrap .hover a span {
    display:block;
}

.image-wrap .hover img {
    display:block;
    width:30px;
    height:30px;
    float:left;
    margin: 5px 7px 0 5px; 
}

.image-wrap .pics {
    border:0px;
}

.image-wrap .bartop { 
    width:260px; 
    height:40px; 
    top:0; 
}

.image-wrap .barbottom{ 
    width:260px; 
    height:40px; 
    bottom:0; 
}

/*.image-wrap:hover .hover {
    left:0;
}*/
.image-wrap .hover{
	left:0;
}




/* sidebar blocks */
.tabwidget {
    width: 200px; 
    font: 10px normal Verdana, Arial, Helvetica, sans-serif; 
}

ul.tabs {
    margin: 0;
    padding: 0;
    float: left;
    list-style: none;
    height: 32px;
    border-bottom: 1px solid #999;
    border-left: 1px solid #999;
    width: 100%;
}

ul.tabs li {
    float: left;
    margin: 0;
    padding: 0;
    height: 31px;
    line-height: 31px;
    border: 1px solid #999;
    border-left: none;
    margin-bottom: -1px;
    background: #e0e0e0;
    overflow: hidden;
    position: relative;
    z-index: 2;
}

ul.tabs li a {
    text-decoration: none;
    color: #000;
    display: block;
    font-size: 1.2em;
    padding: 0 5px;
    border: 1px solid #fff;
    outline: none;
}

ul.tabs li a:hover {
    background: #ccc;
}	

html ul.tabs li.active, html ul.tabs li.active a:hover  {
    background: #efefef;
    border-bottom: 1px solid #efefef;
}

.tab_container {
    border: 1px solid #999;
    border-top: none;
    clear: both;
    float: left; 
    width: 100%;
    margin-bottom: 20px;
    background: #efefef;
    -moz-border-radius-bottomright: 5px;
    -khtml-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -khtml-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
}

.tab_content {
    padding: 20px;
    font-size: 1.2em;
    line-height: 1.5em;
}

.tab_content ul {
    list-style: none;
}

.tab_content h3 {
    border-bottom: 1px dashed #03327d;
}

.tab_content a {
    color: #0A50C0;
}

.tab_content a:hover, a:active {
    color: #333;
}

aside .standard h3 {
    font-size: 18px;
    text-shadow: 0px 1.5px 1px #09d;
    display:block;
    text-decoration:none;
}

.link a{
	margin:1em 5px 1.5em;
	font-size:1.5em;
	text-shadow: 0px 1.5px 1px #09d;
	display:block;
	text-decoration:none;
}

#txtLogin label, #txtSea label {
    display: block;
    font-size: 14px;
    margin: 0;
    padding: .5em ;
    width: 167px;
    height: 10px;
    position: relative;
}

#txtRegistration label {
    display: block;
    font-size: 14px;
    margin: 0;
    padding: .5em ;
    width: 297px;
    height: 10px;
    position: relative;
}

#ckbSea label {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    font-size: 14px;
    margin: 0;
    padding: .5em ;
    width: 180px;
    height: 30px;
    border: 2px solid #ddd;
    border-bottom-width: 0;
    position: relative;
}

#txtLogin label, #txtSea label, #txtRegistration label {
    border-radius: 4px 4px 4px 4px;
}

#ckbSea label:first-child {
    border-radius: 4px 4px 0 0;
}

#ckbSea label:last-child {
    border-bottom-width: 2px;
    border-radius: 0 0 4px 4px;
}

#txtLogin input, #txtSea input, #txtRegistration input {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#ckbSea input {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    margin: 0;
    padding: 0;
    margin-top:6px;
    position: absolute;
    top: -6px;
    right: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
}

#btnLogin input, #btnLogout input, #btnSea input, #btnReg input, #btnToCart input, #btnGoBack input, #btnFix input {
    border: 1px solid #ddd;
    padding: 0.5em;
    font-size: 14px;
    width: 50%;
    margin-bottom: 20px;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ccc));
    -webkit-box-shadow: 1px 1px 1px #fff;
    -webkit-border-radius: 0.5em;
}

#txtLogin input, #txtSea input, #ckbSea input, #txtRegistration input, #quantityPurchase {
    -webkit-appearance: none;
    -moz-appearance: none;
}

#ckbSea input:checked {
    background-image: url(images/check.svg);
}

.commonMenu a {
    display: block;
    text-decoration: none;
}

.commonMenu a:link {color:#000000;}
.commonMenu a:visited {color:#000000;}
.commonMenu a:hover {color:#09d;}
.commonMenu a:active {color:#000000;}




/* footer blocks */
#footer-area {
    background: #333;
/*    color: #FFF;*/
    font-size: 90%;
    padding: 18px 0;
    overflow: hidden;
/* curved border radius */
    -moz-border-radius-bottomright: 8px;
    -moz-border-radius-bottomleft: 8px;
    -webkit-border-bottom-left-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
}

.footer-segment {
    float: left;
    margin-right: 20px;
    margin-left: 20px;
    width: 190px;
}

footer aside h4 {
    color: #faf0e6;
    font-size: 16px;
    line-height: 1.5em;
}

footer a:link, footer a:visited {
    color: #ccc;
}

footer a:hover { 
    text-decoration: underline; 
}

footer .copy {
    clear:left;
    margin-left: 400px;
    color: #faf0e6;
}
